<div class="container-fluid">
  <div *ngIf="hasErrors" class="alert alert-danger">
    {{message}}
  </div>
  <div class="row">
      <div class="col-sm-2"> Name </div>
      <div class="col-sm-2"> Location </div>
      <div class="col-sm-2"> Teacher </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  <div *ngFor="let learningClass of learningClasses">
    <div class="row">
      <div class="col-sm-2"> {{learningClass.name}} </div>
      <div class="col-sm-2"> {{learningClass.location}} </div>
      <div class="col-sm-2"> {{learningClass.teacher}} </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-warning" (click)="editLearningClass(learningClass)"> Edit </button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-danger" (click)="deleteLearningClass(learningClass)"> Delete </button>
      </div>
    </div>
    <br/>
    <div class="panel panel-default">
      <div class="panel-body">
        <label>Students: </label>
        <students-component
           [learningClassId]="learningClass.learningClassId"
           [students] = "learningClass.students"
        ></students-component>
      </div>
    </div>
  </div>
    <br/>
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary btn-md btn-block" (click)="addLearningClass()">
        Add new class
      </button>
    </div>
  </div>
</div>
<learningClassForm-component
  [title]="formTitle"
  [learningClass]="learningClass"
></learningClassForm-component>
