<div
  [ngClass]="{'modal fade': true, 'in': isOpen }"
  [ngStyle]="{'display': isOpen ? 'block' : 'none'}"
  role="dialog"
 >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeForm()"
         >
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      <div class="modal-body">
        <div *ngIf="!validation.isValid" class="alert alert-danger">
          {{validation.message}}
          <br/>
          Try submit again after changes.
        </div>
        <div class="form-group hidden">
          <label for="learningClassId" >Id</label>
          <div class="col-sm-10">
            <input
               type="text"
               class="form-control"
               id="learningClassId"
               [(ngModel)]="learningClass.learningClassId"
             />
          </div>
        </div>
        <div class="form-group">
          <label for="name" >Class name</label>
          <div class="col-sm-10">
            <input
               [(ngModel)]="learningClass.name"
               type="text"
               class="form-control"
               id="name"
             />
          </div>
        </div>
        <div class="form-group">
          <label for="location" >Location</label>
          <div class="col-sm-10">
            <input
               [(ngModel)]="learningClass.location"
               type="text"
               class="form-control"
               id="location"
             />
          </div>
        </div>
        <div class="form-group">
          <label for="teacher" >Teacher</label>
          <div class="col-sm-10">
            <input
               [(ngModel)]="learningClass.teacher"
               type="text"
               class="form-control"
               id="teacher"
             />
          </div>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeForm()">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
      </div>
    </div>
  </div>
</div>
