<div
  [ngClass]="{'modal fade': true, 'in': isOpen }"
  [ngStyle]="{'display': isOpen ? 'block' : 'none'}"
  role="dialog"
 >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeForm()"
         >
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
      <div class="modal-body">
        <div *ngIf="!validation.isValid" class="alert alert-danger">
          {{validation.message}}
          <br/>
          Try submit again after changes.
        </div>
        <div class="form-group hidden">
          <label for="studentLearningClassId" >Class Id</label>
          <div class="col-sm-10">
            <input
               type="text"
               class="form-control"
               id="studentLearningClassId"
               [(ngModel)]="student.learningClassId"
             />
          </div>
        </div>
        <div class="form-group hidden">
          <label for="studentId" >Id</label>
          <div class="col-sm-10">
            <input
               type="text"
               class="form-control"
               id="studentId"
               [(ngModel)]="student.studentId"
             />
          </div>
        </div>
        <div class="form-group">
          <label for="studentName" >Name</label>
          <div class="col-sm-10">
            <input
               [(ngModel)]="student.name"
               type="text"
               class="form-control"
               id="studentName"
             />
          </div>
        </div>
        <div class="form-group">
          <label for="dateOfBirth" >Date of birth</label>
          <div class="col-sm-10">
            <input
               [(ngModel)]="student.dateOfBirth"
               type="date"
               class="form-control"
               id="dateOfBirth"
             />
          </div>
        </div>
        <div class="form-group">
          <label for="surname" >Surname</label>
          <div class="col-sm-10">
            <input
               [(ngModel)]="student.surname"
               type="text"
               class="form-control"
               id="surname"
             />
          </div>
        </div>
        <div class="form-group">
          <label for="gpa" >GPA</label>
          <div class="col-sm-10">
            <input
               [(ngModel)]="student.gradePointAverage"
               type="number"
               min="1"
               max="5"
               class="form-control"
               id="gpa"
             />
          </div>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeForm()">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
      </div>
    </div>
  </div>
</div>
