<div class="container-fluid">
  <div *ngIf="hasErrors" class="alert alert-danger">
    {{message}}
  </div>
  <div class="row">
    <div class="col-md-2"> Name </div>
    <div class="col-md-2"> Surname </div>
    <div class="col-md-2"> Date of Birth </div>
    <div class="col-md-2"> GPA </div>
    <div class="col-md-2">  </div>
    <div class="col-md-2">  </div>
  </div>
  <div
     *ngFor="let student of students"
     [ngClass]="{'row': true, 'bg-danger': student.gradePointAverage > 3.2 }"
  >
    <div class="col-md-2"> {{student.name}} </div>
    <div class="col-md-2"> {{student.surname}} </div>
    <div class="col-md-2"> {{student.dateOfBirth}} </div>
    <div class="col-md-2"> {{student.gradePointAverage}} </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-warning" (click)="editStudent(student)"> Edit </button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-danger" (click)="deleteStudent(student)"> Delete </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-block" (click)="addStudent()">Add new student</button>
    </div>
  </div>
</div>
<studentForm-component
  [title]="formTitle"
  [student]="student"
></studentForm-component>
